<h2><%= t(:text_resend_confirmation_instructions) %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= error_messages_for resource %>

  <div class="box tabular">
    <p>
      <%= f.label :login, l(:field_login_or_email) %> <span class="required">*</span>
      <%= f.email_field :login, :autofocus => true, :size => 40 %>
      <%= f.submit l(:button_submit) %>
    </p>
  </div>
<% end %>
