<h2><%=l(:label_password_lost)%></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= error_messages_for resource %>

  <div class="box tabular">
    <p>
      <%= f.label :login, l(:field_login_or_email) %> <span class="required">*</span>
      <%= f.text_field :login, :autofocus => true, :size => 40 %>
      <%= f.submit l(:button_submit) %>
    </p>
  </div>
<% end %>
